In [155]:
import pandas as pd
import numpy as np

In [156]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

In [157]:
#to get the data
!wget $data

--2025-10-20 21:15:02--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv.2’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.006s

2025-10-20 21:15:03 (129 MB/s) - ‘car_fuel_efficiency.csv.2’ saved [874188/874188]

In [158]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [159]:
df.convert_dtypes()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3,159,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0,13.231729
1,130,5,97,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0,13.688217
2,170,<NA>,78,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0,14.246341
3,220,4,<NA>,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2,16.912736
4,210,1,140,3460.87099,14.4,2009,Europe,Gasoline,All-wheel drive,2,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5,164,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,<NA>,15.101802
9700,180,<NA>,154,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0,17.962326
9701,220,2,138,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1,17.186587
9702,230,4,177,2905.52739,19.4,2011,USA,Diesel,Front-wheel drive,1,15.331551
9703,270,3,140,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1,14.884467

In [160]:
# to see the first row and column of the dataframe
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [161]:
#the transpose of the column
df.T

,0,1,2,3,4,5,6,7,8,9,...,9694,9695,9696,9697,9698,9699,9700,9701,9702,9703
engine_displacement,170,130,170,220,210,190,240,150,250,150,...,220,280,190,220,180,140,180,220,230,270
num_cylinders,3.0,5.0,NaN,4.0,1.0,3.0,7.0,4.0,1.0,4.0,...,3.0,5.0,7.0,5.0,1.0,5.0,NaN,2.0,4.0,3.0
horsepower,159.0,97.0,78.0,NaN,140.0,NaN,127.0,239.0,174.0,123.0,...,176.0,154.0,69.0,110.0,131.0,164.0,154.0,138.0,177.0,140.0
vehicle_weight,3413.433759,3149.664934,3079.038997,2542.392402,3460.87099,2484.883986,3006.542287,3638.65778,2714.21931,3509.036569,...,2837.652898,3797.309878,3133.32921,2532.98763,3107.42782,2981.107371,2439.525729,2583.471318,2905.52739,2908.043477
acceleration,17.7,17.8,15.1,20.2,14.4,14.7,22.2,17.3,10.3,10.2,...,11.4,16.6,16.6,14.3,13.2,17.3,15.0,15.1,19.4,14.7
model_year,2003,2007,2018,2009,2009,2008,2012,2020,2016,2005,...,2013,2013,2008,2004,2005,2013,2004,2008,2011,2005
origin,Europe,USA,Europe,USA,Europe,Europe,USA,USA,Asia,USA,...,Europe,Europe,Europe,Europe,Asia,Europe,USA,USA,USA,Asia
fuel_type,Gasoline,Gasoline,Gasoline,Diesel,Gasoline,Gasoline,Gasoline,Diesel,Diesel,Gasoline,...,Gasoline,Gasoline,Gasoline,Diesel,Gasoline,Diesel,Gasoline,Diesel,Diesel,Diesel
drivetrain,All-wheel drive,Front-wheel drive,Front-wheel drive,All-wheel drive,All-wheel drive,All-wheel drive,Front-wheel drive,All-wheel drive,Front-wheel drive,Front-wheel drive,...,Front-wheel drive,Front-wheel drive,All-wheel drive,Front-wheel drive,Front-wheel drive,Front-wheel drive,All-wheel drive,All-wheel drive,Front-wheel drive,All-wheel drive
num_doors,0.0,0.0,0.0,2.0,2.0,-1.0,1.0,1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,0.0,-2.0,NaN,0.0,-1.0,1.0,-1.0
fuel_efficiency_mpg,13.231729,13.688217,14.246341,16.912736,12.488369,17.271818,13.210412,12.848884,16.823554,12.298355,...,16.233553,10.54297,13.418128,17.305653,13.933716,15.101802,17.962326,17.186587,15.331551,14.884467

In [162]:
# to fing the shape of the dataframe in rows anc column
df.shape

(9704, 11)

In [163]:
df["fuel_type"].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [164]:
# to find the number of missing values

df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [165]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [166]:
df.dtypes == "object"

engine_displacement    False
num_cylinders          False
horsepower             False
vehicle_weight         False
acceleration           False
model_year             False
origin                  True
fuel_type               True
drivetrain              True
num_doors              False
fuel_efficiency_mpg    False
dtype: bool

In [167]:
categorical_column = list(df.dtypes[df.dtypes == "object"].index)
for c in categorical_column:
    df[c] = df[c].str.lower().str.replace("-", "_").str.replace(" ", "_")

In [168]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,europe,gasoline,all_wheel_drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,usa,gasoline,front_wheel_drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,europe,gasoline,front_wheel_drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,usa,diesel,all_wheel_drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,europe,gasoline,all_wheel_drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,europe,diesel,front_wheel_drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,usa,gasoline,all_wheel_drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,usa,diesel,all_wheel_drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,usa,diesel,front_wheel_drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,asia,diesel,all_wheel_drive,-1.0,14.884467

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [170]:
df.loc[df.isnull().any(axis = "columns")]

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
2,170,NaN,78.0,3079.038997,15.1,2018,europe,gasoline,front_wheel_drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,usa,diesel,all_wheel_drive,2.0,16.912736
5,190,3.0,NaN,2484.883986,14.7,2008,europe,gasoline,all_wheel_drive,-1.0,17.271818
11,150,5.0,NaN,1967.200421,12.6,2014,usa,diesel,front_wheel_drive,2.0,20.504447
18,250,2.0,110.0,2971.214575,NaN,2003,europe,gasoline,front_wheel_drive,1.0,14.735962
...,...,...,...,...,...,...,...,...,...,...,...
9686,170,6.0,184.0,2139.192597,NaN,2004,asia,gasoline,all_wheel_drive,-1.0,19.446233
9688,260,4.0,NaN,3948.404625,15.5,2018,asia,diesel,all_wheel_drive,-1.0,11.054830
9689,260,NaN,166.0,2396.251595,NaN,2014,europe,gasoline,front_wheel_drive,0.0,18.879329
9699,140,5.0,164.0,2981.107371,17.3,2013,europe,diesel,front_wheel_drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,usa,gasoline,all_wheel_drive,0.0,17.962326

In [171]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [175]:
# find the median value of the horsepower column in the dataset
horse_power_median_1 = df['horsepower'].median()
print(horse_power_median)

149.0

In [176]:
# find the most frequent value of the horsepower
most_frequent_value = df['horsepower'].value_counts()
print(most_frequent_value)

horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64

In [177]:
df['horsepower'].fillna(0)

0       159.0
1        97.0
2        78.0
3         0.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [178]:
# find the median value of the horsepower column in the dataset
horse_power_median_2 = df['horsepower'].median()
print(horse_power_median)

149.0

In [179]:
# select all cars from asia
df['origin' == 'asia']

KeyError: False